# 主要不上傳
.idea
.vscode
env
*/*/file/data
*/*/file/doc
*/*/file/model
*/*/file/result
*/*/file/old
*/*/file/PLD
*/*/file/DP
*/*/file/out
*/*/.
common/WSL
UnitTest/
LocalConfig.py
*.pyc
catboost_info
logs.log
venv
# 暫不上傳
Finance
RealWorld