# 主要步上傳
.idea
env
*/*/file/data
*/*/file/doc
*/*/file/model
*/*/file/result
*/*/UnitTest
*.pyc
logs.log
catboost_info
# 暫不上傳
UnitTest/*
Example/P35NetworkX
ExerciseProject/RecommendationSystem
OnlineExample
RWTaiwan/TagData